<form class="form-horizontal" ng-controller="editProfileController as editProfileCtrl" style="margin-top: 50px;">
<fieldset>

<!-- Form Name -->

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Username">Username</label>  
  <div class="col-md-4">
      <input id="Username" name="Username" placeholder="Username" class="form-control input-md" type="text" ng-model="editProfileCtrl.user.username" disabled>
  <span class="help-block">Username</span>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="profile_name">Profile Name</label>  
  <div class="col-md-4">
  <input id="profile_name" name="profile_name" placeholder="profile name" class="form-control input-md" type="text" ng-model="editProfileCtrl.user.profilename" >
  <span class="help-block">your profile name</span>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Email">Email</label>  
  <div class="col-md-4">
  <input id="Email" name="Email" placeholder="Email" class="form-control input-md" type="text" ng-model="editProfileCtrl.user.email">
  <span class="help-block">Email</span>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Money">Money</label>  
  <div class="col-md-4">
  <input id="Money" name="Money" placeholder="Money" class="form-control input-md" type="text" ng-model="editProfileCtrl.user.money" disabled>
  <span class="help-block">Money</span>  
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="password">New Password ( If needed )</label>  
  <div class="col-md-4">
  <input id="password" name="password" placeholder="password" class="form-control input-md" type="password" ng-model="editProfileCtrl.user.newPassword" >
  <span class="help-block">blank for not change</span>  
  </div>
</div>
<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="button1id"></label>
  <div class="col-md-8">
    <button id="button1id" name="button1id" class="btn btn-success" ng-click="editProfileCtrl.changeProfile()">Save</button>
    <button id="button2id" name="button2id" class="btn btn-danger" ng-click='editProfileCtrl.changePassword()'>Change Password</button>
  </div>
</div>

</div>

</fieldset>
</form>

