<div class="friend_list" ng-controller="FriendListController as friendListCtrl">
    <div class="row searchFriend">
         <div class="col-md-offset-6 col-md-3">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Username " ng-model="friendListCtrl.addFriendUsername">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="button" ng-click="friendListCtrl.addFriend()"> Add </button>
              </span>
            </div><!-- /input-group -->
          </div><!-- /.col-lg-6 -->
    </div>
    <div class="col-md-offset-2 col-md-8" >
        <table class="table table-hover col-md-12">
            <tr> 
                <th class="col-md-1"> ID </td>
                <th class="col-md-5"> Profile Name </td>
                <th class="col-md-3"> Status </td>
                <th class="col-md-3"> Action </td>
            </tr>

            <tr ng-repeat="friend in friendListCtrl.getFriends()">
                <td class="col-md-1"> {{ friend.id }} </td>
                <td class="col-md-5"> {{ friend.profilename }} </td>
                <th class="col-md-3"> Friend </td>
                <td class="col-md-3">
                    <a class="btn btn-danger btn-xs" href="#" role="button"  ng-click="friendListCtrl.deleteFriend(friend.id)"> delete   </a>
                </td>
            </tr>

            <tr ng-repeat="friend in friendListCtrl.getPendingFriends()" ng-show="friendListCtrl.getPendingFriends().length">
                <td class="col-md-1"> {{ friend.id }} </td>
                <td class="col-md-5"> {{ friend.profilename }} </td>
                <th class="col-md-3"> Pending </td>
                <td class="col-md-3">
                    <a class="btn btn-success btn-xs" href="#" role="button"  ng-click="friendListCtrl.acceptOrRejectFriend(friend.id, 1)"> accept   </a>
                    <a class="btn btn-danger btn-xs" href="#" role="button" ng-click="friendListCtrl.acceptOrRejectFriend(friend.id, 0)"> reject </a>
                </td>
            </tr>

            <tr ng-repeat="friend in friendListCtrl.getWaitingFriends()" ng-show="friendListCtrl.getWaitingFriends().length">
                <td class="col-md-1"> {{ friend.id }} </td>
                <td class="col-md-5"> {{ friend.profilename }} </td>
                <th class="col-md-3"> Waiting </td>
                <td class="col-md-3">
                    <a class="btn btn-danger btn-xs" href="#" role="button" ng-click="friendListCtrl.deleteFriend(friend.id)"> delete   </a> 
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="confirmDeleteFriendModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Confirm</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to do this ??&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary"> Confirm  </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
