<div class="list-game" ng-controller="GameListController as gameListCtrl">
      <div class="row">
          <div class="col-md-offset-9 col-md-3 searchGameBox">
              <div class="input-group">
                  <input type='text' class='form-control' placeholder='Enter text to search..' ng-model='gameListCtrl.gameSearch'>
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="button"> Search </button>
                </span>
              </div>
          </div>
      </div>
      <div class="col-sm-5 col-md-3 card-game" ng-repeat="game in gameListCtrl.getGame() | filter: gameListCtrl.gameSearch">
        <div class="thumbnail">
          <img src="http://placehold.it/200x200" alt="..." height="200px" width="200px" ng-show="!game.image_ref">
          <img src="{{ game.image_ref }}" alt="..." height="200px" width="200px" ng-show="game.image_ref">
          <div class="caption">
              <h3>{{ game.name }} </h3>
              <p> Develop By: {{ game.dev_name }} </p>
            <br />
          </div>
            <p class="game-button">
                <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#confirmBuyGameModal" role="button" ng-click="gameListCtrl.confirmBuyGame(game.id)">Buy</a> 
                <a href="#" class="btn btn-default" role="button">View Details</a>
            </p>
        </div>
      </div>
    </div>
</div>
<!-- Buy Modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="confirmBuyGameModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Confirm</h4>
      </div>
      <div class="modal-body">
        <p>Do you want to buy this game ?&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary"> Confirm  </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
