      <div class="row" ng-controller="TopupController as topupCtrl">
          <div class="col-md-offset-3 col-md-3 searchGameBox">
              <div class="input-group">
                  <input type='text' class='form-control' placeholder='Enter Topup amount' ng-model='topupCtrl.amount'>
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" ng-click="topupCtrl.topup()"> Topup !</button>
                </span>
              </div>
          </div>
      </div>
      
