span.user-profile{
    text-decoration: underline;
}
span.user-profile:hover{
    font-style: bold;
    color: rgba(255,255,255, 0.5);
}


div.content-wrapper{
    padding: 5% 5%;
    width: 100%;
}
div.content-sub-menu{
    margin-top: 50px;
    width: 100%;
    border-style: none none solid none;
    border-width: 1px 1px 1px 1px;;
    border-color: rgba(200, 200, 200, 0.8);
}
ul.pagination-sub li{
    padding: 10px 10px 10px 10px;
    border-style: solid solid none solid;
    border-width: 0.3px 0.3px 0.3px 0.3px;
    border-color: rgba(100, 100, 100, 0.5);
    float: left;
    border-radius: 3px 3px 0px 0px;
    -moz-border-radius: 3px 3px 0px 0px;
    -webkit-border-radius: 3px 3px 0px 0px;
}
ul.pagination-sub li:hover{
    transition: 0.3s 0s all linear;
    background-color: rgba(36,36,36, 0.8);
    color: white;
}
ul.pagination-sub li.active{
    background-color: rgba(36,36,36, 0.8);
    color: white;
}
ul{
    list-style-type: none;
    height: 30px;
}
div.content{
    width: 100%;
}

div.list-game{ 
    width: 100%;
    padding-top: 25px;
    display: inline-block;
    float: left;
}

div.nav-user-money{
    font-size: 15px;
}

div.card-game > div.thumbnail{
    height: 100%;
}
div.card-game > div.thumbnail > div.caption{
    height: 100px;
}
div.card-game > div.thumbnail > p.game-button{
    text-align: right;
}
div.card-game{
    height: 350px;
    margin-bottom: 30px;
}
div.searchGameBox{
    margin-bottom: 30px;
}
div.searchFriend{
    margin-top: 30px;
    margin-bottom: 30px;
}

#message {
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    margin-left: 20%;
    margin-top: 2%;
    z-index: 1337;
}
#inner-message {
    margin: 0 auto;
    text-align: center;
}
