hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}

html, body{
    height: 100%;
}
div.nav-theme{
    margin: auto;
    min-height: 100%;
    position: fixed;
    background-color: rgba(50, 50, 50,0.9);
}
div.nav-user-image{
    width: 150px;
    height: 150px;
    margin: auto;
    margin-top: 30px;
}

div.nav-user-profile{
    font-size: 17px;
    margin-top: 8%;
    width: 100%;
    text-align: center;
    color: white;
    font-color: white;
    padding: auto auto;
}

div.nav-menu-bar{
    font-color: white;
    color: white;
    font-size: 20px;
    width: 100%;
}

div.nav-menu{
    width: 100%;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: right;
}

div.nav-menu:hover{
    background-color: rgba(30, 30, 30,0.9);
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
    text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.9);
}
div.nav-menu.active{
    background-color: rgba(30, 30, 30,0.9);
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}
div.nav-menu-span{
    text-align: left;
    width: 30%;
    float: left;
}
